@media only screen and (max-width: 1150px) {
  
}

.d-block .w-100{
    height:250px!important;
}

.MuiCard-root {
  overflow: hidden;
  min-width:20em;
  height: 20em;
  display: inline-block;
  margin:10px;
}

.carousel-box{
  overflow: hidden;
  position: relative;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin-top: 8em;
  border-left: 20px solid #61C9A8;

}

.arrow-right:hover {
  cursor: pointer;
  animation: arrow-animate 1s;

}

.arrow-left {
  
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  margin-top: 8em;
  border-right:20px solid #61C9A8;
}
.arrow-left:hover {
  cursor: pointer; 
  animation: arrow-animate 1s;
}

.carousel-title {
  font-family: "Karla", sans-serif!important;
  font-weight: bolder;
  width: fit-content;
  margin: 20px 0px 10px 24px;
  padding: 20px 0px 10px 24px;
}

.card-overlay {
  position: absolute;
  
      bottom: 90px;
      left: 20px;
      color: white;
      
}

/*Animation*/

